<!DOCTYPE html>
<html>
  <head>
    <title>Add your Delineation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  
    <h1>Delineation App</h1>
    <p>Upload your CSV file to delineate</p>
    <form action='/delineations/new/' enctype="multipart/form-data" method='POST'>
      Upload your CSV file  <input type='file' name='ecg'/><br/>
      <input type='submit' value='Upload'/>
    </form>

    <% if @ecg %>
      <h2>Delineation results </h2> 
      <ul>
        <li>Number of premature P waves : <%= @ecg.premature_p_wave_number%></li>
        <li>Number of premature QRS waves : <%= @ecg.premature_qrs_wave_number%></li>
        <li>Max rate : <%= @ecg.max_rate.first %> bpm at <% @ecg.max_rate.last.each do |time| %> <%= time %>; <%end%> </li>
        <li>Min rate : <%= @ecg.min_rate.first %> bpm at <% @ecg.min_rate.last.each do |time| %> <%= time %>; <%end%> </li>
        <li>Mean rate : <%= @ecg.mean_rate %> bpm</li>
      </ul>
    <% end %>

  </body>
</html>
